body {
  background-image: url("/images/stars.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  margin: 0 auto;
}

h1 {
  margin-top: 60px;
}

footer {
  margin-top: 20px;
}
